standby_mode = 'on'
primary_conninfo = 'user=postgres passfile=''/home/postgres/.pgpass'' host=192.168.56.11 port=5432 sslmode=disable sslcompression=0 krbsrvname=postgres target_session_attrs=any application_name=node2'
